<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>记事本</title>   
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>    
</head>
<body>
    <h1>记事本</h1>
    <div id="app">
        <header>
            <input type="text" v-model="input_text" @keyup.enter="input" autofocus="autofocus" placeholder="请输入文本">
        </header>

        <section>
            <ol type="1">
                <li v-for="(text, index) in texts">
                    <a href="#" class="listItem" @click="erase(index)">{{text}}</a>
                </li>
            </ol>
        </section>

        <footer v-if="texts.length>0">
            <span>{{texts.length}} items left </span> 
            <button @click="clear">Clear</button>
        </footer>
    </div>

    <script>
        const {createApp} = Vue

        const app = createApp({
            data(){
                return{
                    input_text: "",
                    texts: [],
                }
            },
            methods:{
                input:function() {
                    this.texts.push(this.input_text);
                    this.input_text = "";
                },
                erase:function(index) {
                    this.texts.splice(index, 1);
                },
                clear:function() {
                    this.texts.splice(0, this.texts.length)
                }
            }
        })

        app.mount('#app')
    </script>
</body>
</html>